* {
    box-sizing: border-box;
    background-color: rgba(2, 1, 20)
}

.error404 {
    width: 100%;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error404 img {
    width: 30%;
}

.title-realtime{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
main{
    color: rgba(255, 255, 255, 0.863);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products {
    display: flex;
    flex-direction: column;
    inline-size: none;
    justify-content: space-between;
    line-height: 1.5;
    width: 1000px;
}

.products__list {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.products__list__item {
    padding: 0px;
    margin: 0.25rem;
    width: 100%;
}

.btn_carrito {
    display: flex;
    flex-direction: row;
    padding: 7px;
    background-color: rgb(40, 220, 40);
    color: rgb(52, 52, 52);
    border-style:groove;
    border-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.btn_carrito:hover{
    background-color: rgba(40, 220, 40, 0.695);
}

.products__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
}

.products__delete {
    display: flex;
    gap: 0.5rem;
    width: 500px;
}

.products__delete__input {
    width: 100%;
}

.error-message {
    color: rgb(214, 22, 22);
}

.input-name{
    display: flex;
    border-color: white;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.845)
}
.input-name::placeholder{
    color: black;
}

.input-description{
    display: flex;
    border-color: white;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.845)
}
.input-description::placeholder{
    color: black;
}
.input-code{
    display: flex;
    border-color: white;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.845)
}
.input-code::placeholder{
    color: black;
}
.input-price{
    display: flex;
    border-color: white;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.845)
}
.input-price::placeholder{
    color: black;
}
.input-category{
    display: flex;
    border-color: white;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.845)
}
.input-category::placeholder{
    color: black;
}
.input-stock{
    display: flex;
    border-color: white;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.845)
}
.input-stock::placeholder{
    color: black;
}
.btn-guardar{
    display: flex;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
    background-color: rgb(40, 220, 40);
    border-style:groove;
    border-color: white;
    border-radius: 5px;
}

.btn-guardar:hover{
    background-color: rgba(40, 220, 40, 0.695);
}

.input-delete{
    display: flex;
    border-color: white;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.845)
}

.input-delete::placeholder{
    color: black;
}

.btn-delete{
    display: flex;
    font-size: 15px;
    padding: 4px;
    font-weight: bolder;
    background-color: rgb(212, 17, 17);
    border-style:groove;
    border-color: white;
    border-radius: 5px;
}

.btn-delete:hover{
    background-color: rgba(121, 20, 20, 0.853);
}

.title-home{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.btn-refresh{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
    padding: 5px;
    background-color: rgb(27, 210, 242);
    border-style:groove;
    border-color: white;
    border-radius: 5px;
}

.btn-refresh:hover{
    background-color: rgba(27, 210, 242, 0.742);
}