<header>
    <h1 class="title-home">Menu Principal</h1>
</header>

<main>
    <section>
        <h3>Carrito:</h3>
        <div class="carts">
            <div class="carts__list">
                <ul class="carts__list__item" id="carts-list"></ul>
                <button id="agregar"></button>
            </div>
        </div>
    </section>
</main>


<script src="/api/public/js/carts.js"></script>